<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="J:/3. automation testing/day39---Selenium full ui elements testing/Assignment1 Answers/vwologin/src/test/java/com/vwo/VWOPlatform.java"><classes><class name="com.vwo.VWOPlatform"><methods><include name="loginCrdentialsInValid1"/><include name="loginCrdentialsInValid2"/></methods></class></classes></test></suite>